html, body {
    line-height: 1.5;
}

body {
    margin: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

#topbar, #header {
    position: fixed;
    width: 100%;
}

#topbar  {
    top: 0px;
    height: 3px;
    background: #b3ed45;
}

#header {
    top: 0px;
    height: 71px;
    line-height: 70px;
    background: linear-gradient(to bottom, #ffffff 0%, #f2f2f2 100%);
    border-bottom: 1px solid #dbdbdb;
    box-shadow: 0px 0px 4px #d1d1d1;
}

#header #header-title {
    display: table-cell;
    vertical-align: middle
}

#header-content {
    width: 900px;
    height: 70px;
    margin-left:auto;
    margin-right:auto;
    padding-left: 20px;
}

#header-layout {
    height: 100%;
}

.header-btn {
    margin: 0 5px;
    padding: 0 15px;
    display: inline-flex;
    align-items: center;
    transition: background 0.2s linear, color 0.2s linear;
    color: #616161;
    text-decoration: none;
    outline: 0;
}

.header-btn:hover, .header-btn:focus {
    background-color: #f2f2f2;
    color: black;
}

.current-page-btn {
    background-color: #f2f2f2;
}

#accent {
    margin-top: 70px;
    width: 100;
    height: 200px;
    background: #29b768;
    background-image: url(accent.png);
    background-repeat: no-repeat;
    background-position: center;
}

#accent-title {
    width: 900px;
    height: 100;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

#accent-title, h1 h2 h3 {
    color: white;
    background-color: #b3ed45;
    background: transparent;
}

#content {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

#guestbook-container {
    font-family: arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
}

#guestbook {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 10px;
}

#guestbook tbody {
    border-collapse: collapse;
}

#guestbook th {
    border: 1px solid #f2f2f2;
    font-weight: bold;
}

#guestbook td th {
    text-size: 100px;
    text-align: left;
    padding: 8px;
}

.table-dark {
    background: #f2f2f2;
}

.table-light {
    border: 1px solid #f2f2f2;
    background: white;
}
