Ansible is a declarative configuration management tool which excels at managing mutable infrastructure on a large scale. In an ideal world, all infrastructure would be immutable, but I find that that rarely happens in production.
<br>
A good example of this is the LetsEncrypt integration using <a href='https://github.com/Neilpang/acme.sh'>acme.sh</a> and the acme.sh role.

Here are the guts of the acme.sh ansible role:<br>
{% raw %}
<pre class='prettyprint lang-yaml'>
- name: Issue certificates
  command: >
    /root/.acme.sh/acme.sh --accountemail {{ admin_email }}
      --issue --standalone --httpport {{ acme_nc_port }}
      -d {{ ' -d '.join(tls_hostnames) }}
      --key-file {{ key }}
      --fullchain-file {{ fullchain }}
      --reloadcmd 'umask 027 && cat {{ fullchain }} {{ key }} >{{ combined }} && chown root:haproxy {{ combined }} && service haproxy restart'
  args:
    creates: '{{ fullchain }}'
  notify:
    - haproxy-tls
</pre>
{% endraw %}

Breaking this down, it is executing a shell command, `/root/.acme.sh/acme.sh`, with a series of switches. The `>` operator allows long single line strings to wrap seamlessly. (Dat significant whitespace.)

{% raw %}
<pre class='prettyprint lang-yaml'>
  args:
    creates: '{{ fullchain }}'
</pre>
{% endraw %}

This means that the command will create a file at the path provided by the variable `fullchain`. In effect, it makes the task idempotent, because it will not run again once it has successfully created a fullchain file.
<br>
Finally, it will notify the HAProxy daemon using a series of handlers:

{% raw %}
<pre class='prettyprint lang-yaml'>
- name: haproxy-tls
  lineinfile:
    path: /etc/haproxy/haproxy.cfg
    regexp: '^.*bind.*:443'
    line: 'bind *:443 ssl crt /etc/haproxy/tls'
  notify:
    - haproxy

- name: haproxy
  service:
    name: haproxy
    state: restarted
</pre>
{% endraw %}

This looks a bit more complicated than it is. Because acme.sh relies on HAProxy to route the .well-known challenge, HAProxy must be able to run before a certificate has been issued. This series of notifiers uncomments the HTTPS listener, and then restarts the HAProxy daemon.
<br>
In the event that this was immutable infrastructure, the TLS certificats would be lost for every change. You would quickly run up against the LetsEncrypt rate limits. You could potentially store the certificates (hopefully encrypted) in some kind of persistent storage, but the complexity of the stack would increase dramatically.
