Databases are the bane of any critical application's existence. Most of the easily exploitable, catastrophic vulnerabilities in webapps are some form of SQL injection. Beyond that, you can quickly run into major performance issues by forming queries inefficiently.
<br><br>
SQLAlchemy is a Python framework that makes interaction with databases trivial. Instead of typing out a bunch of SELECTs and JOINs, you write models, and you let the magic talk to your database for you.

Here's a model declaration (which is also a table schema declaration):

{% raw %}
<pre class='prettyprint'>
class Guest(db.Model):
    """Model for guestbook API"""
    id = db.Column(db.Integer, primary_key=True, autoincrement=True)
    name = db.Column(db.String(32), unique=True)
    timestamp = db.Column(db.DateTime, default=datetime.datetime.now())
</pre>
{% endraw %}

This isn't a whole lot simpler than just declaring it using SQL. However...

{% raw %}
<pre class='prettyprint'>
    guest = Guest(name=name)
    db.session.add(guest)
    db.session.commit()
</pre>
{% endraw %}

There's just no way to make it easier than this. I don't have to worry about string safety, forming queries dynamically, or anything.
