{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <meta name="google-site-verification" content="9QtTj-Dvgs5up6ZGNVMEvbTQ3Udx9PDIDg897pVoi7c" />
  <meta name="google-site-verification" content="Me-tRtCf5C_VA2aaUHm5WK9qRGfNZ9rHYAFkkmgTRvc" />
{% endblock %}

{% block title %}Index{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block accent_title %}
  <h2>Hi, my name is Josiah Niedrauer.</h2>
  <h3>I'm a Devops Engineer.<br>Here's some boring stuff about me, and a list of things I'm good at.</h3>
{% endblock %}

{% block content %}
<h2>What I've been doing</h2>

For the last few years, I've been running Devops at a Software company called Granbury Solutions. Their focus is on the Restaurant/Retail Point-of-Sale market. As a result, I've spent a lot of time working on PCI-DSS compliant networks with Highly Available infrastructure where data integrity is key.

Most of that time has been spent migrating resources from on-premise and physical datacenters, to Amazon Web Services, using Infrastructure-as-Code provisioning and Configuration Management tools.

<h2>Things I know how to do</h2>

<h3>Cloud</h3>
▪ Amazon Web Services (AWS)<br>

<h3>Infrastructure as Code</h3>
▪ Terraform<br>
▪ Cloudformation<br>
▪ Ansible<br>

<h3>Configuration Management</h3>
▪ Ansible<br>

<h3>Continuous Integration</h3>
▪ Jenkins<br>
▪ Gradle<br>
▪ Maven<br>
▪ Docker<br>
▪ ECS / Elastic Beanstalk<br>

<h3>Linux/POSIX</br>
▪ Ubuntu<br>
▪ RHEL<br>
▪ Vayatta<br>

<h3>Programming</h3>
▪ Python</br>
▪ Java</br>
▪ Javascript</br>
▪ Groovy</br>
▪ Delphi Pascal (Yes... Don't ask why...)</br>
▪ POSIX Shell</br>
▪ Powershell</br>

<h3>RDBMS/SQL Administration</h3>
▪ MySQL/MariaDB</br>
▪ PostgreSQL</br>
▪ Aurora</br>

<h3>NoSQL Administration</h3>
▪ Couchbase</br>
▪ DynamoDB</br>

<h3>Cloud Network Administration</h3>
▪ VPC</br>
▪ Route Tables</br>
▪ NAT Gateways</br>
▪ DNS</br>
▪ Firewalls</br>

<h3>High Availability Infrastructure</h3>
▪ HAProxy</br>
▪ ELB/ALB</br>
▪ Storage failover</br>
{% endblock %}
