{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <meta name="google-site-verification" content="9QtTj-Dvgs5up6ZGNVMEvbTQ3Udx9PDIDg897pVoi7c" />
  <meta name="google-site-verification" content="Me-tRtCf5C_VA2aaUHm5WK9qRGfNZ9rHYAFkkmgTRvc" />
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block accent_title %}
  {{ title|markdown }}
{% endblock %}

{% block content %}
  <div class='plaintext-content'>
    {{ content|markdown }}
  </div>
{% endblock %}
