{% extends 'layout.html' %}

{% block head %}
  {{ super() }}
  <meta name="google-site-verification" content="9QtTj-Dvgs5up6ZGNVMEvbTQ3Udx9PDIDg897pVoi7c" />
  <meta name="google-site-verification" content="Me-tRtCf5C_VA2aaUHm5WK9qRGfNZ9rHYAFkkmgTRvc" />
{% endblock %}

{% block title %}Index{% endblock %}

{% block header %}
  {{ super() }}
{% endblock %}

{% block accent_title %}
  <h2>Future home of Josiah Niedrauer's website</h2>
{% endblock %}

{% block content %}
  <div id='guestbook-container'>
    <h3>Sign my guestbook... if you can find it</h3>
    <table id='guestbook' cellspacing='0'>
      <tbody>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Timestamp</th>
        </tr>
{% for guest in guests %}
        <tr class="{{ 'table-light' if loop.index % 2 == 0 else 'table-dark' }}">
          <td>{{ guest.get('id') }}</th>
          <td>{{ guest.get('name') }}</th>
          <td>{{ guest.get('timestamp') }}</th>
        </tr>
{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
