<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - {{ request.headers['Host'] }}</title>
    {% endblock %}
  </head>
  <body>
    <div id='header'>
      {% block header %}
      <div id='topbar'></div>
      <div id='header-content'>
        <img src="logo.png" alt="Josiah Niedrauer" style="width:240px;height:28px;vertical-align:middle;">
      </div>
      {% endblock %}
    </div>
    <div id="accent">
      <div id="accent-title">
        {% block accent_title %}
        {% endblock %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>
