<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - {{ request.headers['Host'] }}</title>
    {% endblock %}
  </head>
  <body>
    <div id='header'>
      {% block header %}
      <div id='topbar'></div>
      <div id='header-content'>
        <table id='header-layout' cellspacing='0'>
          <tbody>
            <tr>
              <td>
                <img src="logo.png" alt="Josiah Niedrauer" style="width:240px;height:28px;vertical-align:middle;">
              <td>
              <td style='padding-left:20px;'>
              </td>
              <td>
                 <a href='tech' id='tech-nav' class='header-btn {{ "current-page-btn" if request.path == "/tech" else "" }}'>The Tech<a/>
              <td>
              <td>
                 <a href='api-docs' id='api-nav' class='header-btn {{ "current-page-btn" if request.path == "/api-docs" else "" }}'>The API<a/>
              </td>
              <td>
                 <a href='bio' id='bio-nav' class='header-btn {{ "current-page-btn" if request.path == "/bio" else "" }}'>Who Am I<a/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      {% endblock %}
    </div>
    <div id="accent">
      <div id="accent-title">
        {% block accent_title %}
        {% endblock %}
      </div>
    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer">{% block footer %}{% endblock %}</div>
  </body>
</html>
